* {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 95%;
    text-decoration: none;
}

h1 {
    font-size:  125%;
    font-weight: bold;
}

h2, h3 {
    font-size: 110%;
    font-weight: bold;
}

ul {
    list-style: none;
    padding-left: 0%;
}

i {
    color: #0065FC;
}

i[id*="grise"] {
    color: #F2F2F2;
}

a {
    display: block;
}

figure {
    margin: 0%;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

figcaption {
    display: none;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#bloc_page {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

#img_logo {
    height: 40px;
}

#ul_navigation {
    display: flex;
}

#ul_navigation a {
    display: block;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 120px;
}

#ul_navigation a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

#section_formulaire {
    margin-bottom: 10px;
    width: 95%;
}

#formulaire_recherche {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: max-content;
}

#label {
    color: black;
    padding: 10px;
}

#ville {
    color: black;
    font-size: 110%;
    font-weight: bold;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 10px;
}

#submit {
    color: white;
    background-color: #0065FC;
    font-size: 110%;
    font-weight: bold;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 12px;
}

#button_mobile {
    display: none;
}

#filtres_recherche {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#ul_filtres_recherche {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.li_filtres_recherche {
    color: black;
    font-size: 125%;
    font-weight: bold;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    padding-right: 10px;
    margin-left: 15px;
}

.li_filtres_recherche:hover {
    box-shadow: 0px 0px 5px black;
}

.li_filtres_recherche i {
    background-color: #DEEBFF;
    outline: 2px solid #DEEBFF;
    text-align: center;
    border-radius: 18px;
    padding-top: 10.51665px;
    padding-bottom: 10.51665px;
    margin-right: 10px;
    width: 35px;
}

#informations_complementaires i {
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

#section_hebergements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 95%;
}

#article_hebergements_marseille {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 63%;
}

#titre_hebergements_marseille {
    width: 90%;
}

#hebergements_marseille {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 370px;
    width: 90%;
}

.hebergement_marseille {
    display: flex;
    flex-flow: column;
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    border: 3px solid white;
    border-radius: 15px;
    width: 30%;
}

.hebergement_marseille:hover {
    box-shadow: 0px 0px 5px black;
}

.hebergement_marseille figure {
    height: 90px;
}

.hebergement_marseille img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.description_hebergement {
    padding-left: 10px;
}

#plus_hebergements_marseille {
    width: 90%;
}

#aside_hebergements_populaires {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 33%;
}

#titre_hebergements_populaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#titre_hebergements_populaires i {
    color: black;
}

#hebergements_populaires {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 85%;
    width: 90%;
}

.hebergement_populaire {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    border: 3px solid white;
    border-radius: 15px;
}

.hebergement_populaire:hover {
    box-shadow: 0px 0px 5px black;
}

.hebergement_populaire figure {
    height: 115px;
    width: 115px;
}

.hebergement_populaire img {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.description_populaire {
    padding-left: 10px;
}

.notation_populaire {
    position: relative;
    top: 28px;
}

#section_activites {
    margin-bottom: 40px;
    width: 95%;
}

#activites_marseille {
    display: flex;
    justify-content: space-between;
}

.activite {
    display: flex;
    flex-flow: column;
    box-shadow: 0px 0px 5px grey;
    border-radius: 15px;
    width: 23%;
}

.activite:hover {
    box-shadow: 0px 0px 5px black;
}

.activite figure {
    height: 265px;
}

.activite img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activites_flex {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 300px;
    width: 23%;
}

.activite_flex:hover {
    box-shadow: 0px 0px 5px black;
}

.activite_flex {
    display: flex;
    flex-flow: column;
    box-shadow: 0px 0px 5px grey;
    border-radius: 15px;
}

.activite_flex figure {
    height: 100px;
}

.activite_flex img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.description_activite {
    padding-left: 10px;
    height: 35px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
    line-height: 150%;
    padding: 20px;
    width: 100%;
}

@media screen and (max-width: 768px) {

    body {
        display: unset;
    }

    header {
        flex-flow: column;
        margin-top: 20px;
    }

    nav {
        width: 100%;
    }

    .li_navigation {
        width: 50%;
    }

    #ul_navigation a {
        border-bottom: 3px solid #F2F2F2;
        width: 100%;
    }

    #ul_navigation a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    #formulaire_recherche {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    #ville {
        width: 75%;
    }

    #submit {
        display: none;
    }

    #button_mobile {
        display: unset;
        background-color: #0065FC;
        text-align: center;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 12px;
        width: 25%;
    }

    #button_mobile i {
        color: white;
    }

    #filtres_recherche {
        flex-flow: column;
        align-items: flex-start;
    }

    #filtres_recherche h2 {
        margin: 0px;
    }

    #ul_filtres_recherche {
        flex-flow: column;
        align-items: flex-start;
        margin-top: 0px;
        margin-left: 0px;
    }

    .li_filtres_recherche {
        margin-top: 15px;
        margin-left: 0px;
    }

    #informations_complementaires i {
        margin-left: 0px;
    }

    #section_hebergements {
        flex-flow: column;
        width: 100%;
    }

    #article_hebergements_marseille {
        order: 2;
        background-color: white;
        border-radius: unset;
        width: 100%;
    }

    #hebergements_marseille {
        flex-flow: column;
        min-height: 1150px;
    }

    .hebergement_marseille {
        width: 100%;
    }

    #aside_hebergements_populaires {
        order: 1;
        border-radius: unset;
        width: 100%;
    }

    #hebergements_populaires {
        min-height: 410px;
    }

    .hebergement_populaire figure {
        width: 150px;
    }

    #activites_marseille {
        flex-flow: column;
        margin-top: 30px;
        min-height: 960px;
    }

    .activite {
        width: 100%;
    }
    
    .activite figure {
        height: 100px;
    }
    .activites_flex {
        width: 100%;
    }

    footer {
        flex-flow: column;
        align-items: unset;
    }

    .footer {
    margin-left: 20px;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {

    #section_hebergements {
        flex-flow: column;
    }

    #article_hebergements_marseille {
        order: 2;
        width: 100%;
    }

    #aside_hebergements_populaires {
        order: 1;
        width: 100%;
        margin-bottom: 30px;
    }

    #hebergements_populaires {
        flex-flow: row;
    }

    .hebergement_populaire {
        width: 30%;
    }

    .notation_populaire {
        position: relative;
        top: 25px;
    }

    .activite figure {
        height: 255px;
    }

}